/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Neutral

- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

font-family: 'Epilogue', sans-serif;

- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700 */

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --font-size1: 1rem;
    --font-size2: 1.2rem;
    --font-size3: 1.4rem;
    --header-size: 5rem;
    --font-fam: 'Epilogue', sans-serif;
}

body{
    font-family: var(--font-fam);
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

.header-container{
    padding: 2rem 2.5rem 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-right: 1.5rem;
}

.left-header{
    display: flex;
    align-items: center;
}

.left-header button{
    background-color: transparent;
    border: none;
    color: var(--medium-gray);
    cursor: pointer;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    padding-right: 1.5rem;
    list-style: none;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--medium-gray);
}

nav a:hover{
    font-weight: 600;
}

nav button:hover{
    font-weight: 600;
}

.features-box{
    display: none;
}

.features-box a:hover{
    font-weight: 600;
}

.features-box.active{
    top: 5rem;
    position: absolute;
    margin-left: -2rem;
    border-radius: 10px;
    background-color: var(--almost-white);
    padding: 1rem 1.5rem;
    display: block;
    color: var(--medium-gray);
    box-shadow: 0px 10px 24px -3px rgba(0,0,0,0.53);
}

.arrow-transform, .company-arrow-transform{
    transform: rotate(180deg);
    transition: 300ms ease;
}

.company-box{
    display: none;
}

.company-box.active{
    position: absolute;
    background-color: var(--almost-white);
    top: 5rem;
    margin-left: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 24px -3px rgba(0,0,0,0.53);
    display: block;
}

.company a{
    display: block;
    padding: 0.2rem;
}

li img{
    cursor: pointer;
    transition: 300ms ease;
}

.feautres{
    margin: 0;
}

.features a{
    padding: 0.3rem;
    display: block;
}

.features-box img{
    padding-right: 0.8rem;
}

.login-register{
    display: flex;
    gap: 2rem;
}

.login{
    background: none;
    border: none;
}

.login a, .register a{
    text-decoration: none;
    color: var(--medium-gray);
}

.register, .login-register-mobile .register{
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid var(--medium-gray);
}

.login-register-mobile{
    display: none;
}

.menu{
    display: none;
}

/* HERO */

.hero-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 5rem 5rem 5rem 3rem;
}

.hero-left-content{
    padding: 0 3rem;
}

.hero-container h1{
    font-size: var(--header-size);
    max-width: 525px;
    line-height: 4.5rem;
    padding-bottom: 3rem;
    margin-top: 4rem;
}

.hero-container p{
    max-width: 400px;
    margin-bottom: 3rem;
    color: var(--medium-gray);
}

.learn-more{
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--almost-black);
}

.learn-more a{
    color: var(--almost-white);
    text-decoration: none;
}

.company-container{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hero-desktop{
    width: 450px;
}

.hero-mobile{
    display: none;
}